sextion.block.flex-dir.bg_grey.shadow_top#block1
  div.header__wrap
            
    section.content
      h2.content__title.content__title--center LATEST DESIGN STYLE
      p.content__text.content__text--center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      img.content__img(src='img/block1/block1_phone.png')
