section.block.shadow_top_out#block4
  
  div.header__wrap
    img.logo.logo--big(src="/img/logo.png")
    h2.content__title.content__title--right Push yourself & your designs
    p.content__text.content__text--right Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
