section.block.flex-dir.bg_grey.shadow_top_out#block3
  div.button_down.bg_white.shadow_in_2x
    a.button_down__img(href='#block3')
      img(src='/img/button_down.png')
  
  div.header__wrap
    section.content
      h2.content__title.content__title--small OUR DESIGN GUIDELINES
      p.content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

    section.example
      article.example__nav
        button.example__link Development
        button.example__link Design
        button.example__link Business
        button.example__link Arts
      
      aticle.example__preview
        section.example__item.slider__item
          img.example__img(src='/img/block3/preview_img.png')
          div.example__bottom
            p.example__text DESIGN LISTING ONE
        section.example__item.slider__item
          img.example__img(src='/img/block3/preview_img.png')
          div.example__bottom 
            p.example__text DESIGN LISTING ONE
        section.example__item.slider__item
          img.example__img(src='/img/block3/preview_img.png')
          div.example__bottom 
            p.example__text DESIGN LISTING ONE
