section.block.flex-dir.shadow_top#block2
  div.button_down.shadow
    a.button_down__img.button_down__img--white(href='#block2')
    img.button_down__blue-circle(src='/img/block2/blue-circle.png')
    
  div.header__wrap
    section.content
      h2.content__title.content__title--small FEATURES OF APP
      p.content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    section.product
      article.product__item
        div.product__img
          img.product__bg(src="/img/block2/purple_circle.png")
          img.product__icon(src="/img/block2/product__img--cart.png")        
        h3.product__title Lorem ipsum dolor
        p.product__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      article.product__item
        div.product__img
          img.product__bg(src="/img/block2/purple_circle.png")
          img.product__icon(src="/img/block2/product__img--plane.png")
        h3.product__title Ametco nsectetur
        p.product__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
      article.product__item
        div.product__img
          img.product__bg(src="/img/block2/purple_circle.png")
          img.product__icon(src="/img/block2/product__img--arrows.png")        
        h3.product__title Lorem ipsum dolor sit
        p.product__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. 
      article.product__item
        div.product__img
          img.product__bg(src="/img/block2/purple_circle.png")
          img.product__icon(src="/img/block2/product__img--browser.png")        
        h3.product__title Ipsum dolor sit
        p.product__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
