footer.footer
  div.header__wrap
    a.to_top(href="#header")
    section.navigation
      ul.navigation__list
        li.navigation__item 
          a About Us
        li.navigation__item 
          a Support
        li.navigation__item 
          a Why Buy
        li.navigation__item 
          a Affiliates
      ul.navigation__list
        li.navigation__item 
          a Contact Us
        li.navigation__item 
          a Returns
      
    p.footer__copyright Made by @
      a(href='https://www.facebook.com/dimario.green/') Dmitriy G
