header.header.shadow#header
  img.bg(src="/img/header/header_img.png")

  div.header__wrap
    nav.menu
      a#menu-js
        img.menu__logo(src='/img/logo.png')
      div.menu__list#header_menu-js 
        a.menu__item(href="#") about                   
        a.menu__item(href="#") studio
        a.menu__item(href="#") pricing
        a.menu__item(href="#") blog
        a.menu__item.menu__profile-entry(href="#") Join

    section.header__content
      h2.header__title Push yourself & your designs
      p.header__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        
      section.submit
        input(type="text" placeholder="Design style").submit__item.submit__style
        input(type="text" placeholder="Email").submit__item.submit__mail
        button.submit__item.submit__button 
        
  div.button_down.button_down--bot.bg_grey.shadow_top
    a.button_down__img(href='#block1')
