doctype html

head
  meta(charset='utf-8')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel='stylesheet' href='./css/style.min.css')
  link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap" rel="stylesheet")
  meta(name='author' content='Dmitry G')
  title Eclipse
  meta(name='description' content='Push yourself & your designs')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='/js/script.min.js')
body
  include header.pug
  include block1.pug
  include block2.pug
  include block3.pug
  include block4.pug
  include block5.pug
  include footer.pug
